.calendarContainer {
  height: auto;
  color: #fff;
  background-color: #6ba882;
  position: center;
  font-family: 'century gothic';
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.calHeader {
  display: inline-block;
  padding: 6px;
  padding-top: 5px;
  font-size: 14px;
}

.calBody {
  font-size: 12px;
}

td:hover {
  
}

.scheduleContainer {
  height: auto;
  background-color: #E9E9E5;
  padding: 10px; 
  margin-top: 30px;
}
h3 {
  text-align: center
}
.description {
  height: 10px;
}