td {
  color: #fff;
  font-family: 'century gothic';
  font-weight: bold;
  text-align: center;
}
.calendarContainer {
  background-color: #56B47B;
  position: center;
}
.dayBody td:hover {
  background-color: #ddd;
}
